.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;

  .icon-box {
    &:hover {
      .icon {
        color: #ffffff;
      }
      background: #3d0f3f;
      border: 1px solid #fff;
    }
    .icon {
      color: white;
    }
    border: 1px solid #fff;
    border-radius: 0.8rem;
    padding: 2rem;
    margin: 1.3rem;
  }
}
