.motion-container {
  border-radius: 10px;
  border: #f000ff;
  align-self: center;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f000ff,
    0 0 82px #f000ff, 0 0 92px #f000ff, 0 0 102px #f000ff, 0 0 151px #f000ff;
}
