.navbar {
  text-align: left;
  cursor: pointer;
  margin-left: 10vw;
  display: flex;
}
.navbar-logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  padding: 12px 0;

  text-shadow: 0 0 10px #f000ff, 0 0 4px #ffffff;
}
